@import "src/assets/styles/_variable";
@import "src/assets/styles/_mixins.scss";

.header__top__right__language {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;

    .insider{
        position: relative;

        span {
            height: 13px;
            width: 13px;
            background: $primary-color;
            font-size: 10px;
            color: $white-color;
            line-height: 13px;
            text-align: center;
            font-weight: 700;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            right: -12px;
        }
    }

    &:hover {

        ul {
            opacity: 1;
            visibility: visible;
        }
    }

    &:after {
        position: absolute;
        right: -21px;
        top: 1px;
        height: 20px;
        width: 1px;
        background: $black-color;
        opacity: .1;
        content: "";
    }

    img {
        margin-right: 6px;
    }

    div {
        font-size: 14px;
        color: $normal-color;
        display: inline-block;
        margin-right: 4px;
    }

    span {
        font-size: 14px;
        color: $normal-color;
        position: relative;
        top: 2px;
    }

    ul {
        background: #fff;
        width: 300px;
        text-align: left;
        padding: 5px 0;
        position: absolute;
        left: -140px;
        top: 24px;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        border: 1px solid #eee;
        height: 250px;
        overflow: auto;
        @include transition(all, .3s);

        li {
            list-style: none;
            display: block;
            border-bottom: 1px solid #dbdaff;
            margin-right: 0;

            .notify_item_header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                cursor: pointer;

                .notify_info{
                    a{
                        text-decoration: none;
                        color: #605dff;
                    }
                }
            }

            .notify_item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                cursor: pointer;
            }

            .notify_item:hover{
                background-color: #eee;
            }

            .notify_item .notify_img{
                margin-right: 15px;
            }

            .notify_item .notify_info p{
                margin-bottom: 5px;
                font-weight: bold;
            }

            .notify_item .notify_info p span{
                color: #605dff;
                margin-left: 5px;
            }

            .notify_item .notify_info .notify_time{
                color: #c5c5e6;
                font-size: 12px;
            }


        }

        li:last-child{
            border-bottom: 0;
        }
    }
}

.read{
    font-weight: normal !important;
}