
<div class="container pt-4 pb-1">
    <div class="humberger__menu__logo">
        <a href="#"><img src="assets/images//logo.png" alt=""></a>
    </div>
</div>
<div class="container login__form">
    <div class="row login-box ">
        <div class="col-md-12">
            <h2 class="text-center">Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="row">
                    <div class="m-auto mt-3">
                        <input type="email" formControlName="email" id="email" class="form-control form-control-lg" placeholder="Email or Phone Numer"/>
                    </div>
                    <div id="password-field" class="m-auto mt-2">
                        <input formControlName="password" [type]="showPassword?'text':'password'" id="password" class="form-control form-control-lg" placeholder="Password"/>
                        <i *ngIf="!showPassword" class="fa fa-eye-slash" (click)="showPassword=!showPassword"></i>
                        <i *ngIf="showPassword" class="fa fa-eye" (click)="showPassword=!showPassword"></i>
                    </div>
                    <div class="m-auto mt-3">
                        <button class="form-control button-3d form-control-lg site-btn">Login</button>
                    </div>
                    <div class="forget-password py-3">
                        <a routerLink="/auth/signup"class="forget-pass">Forgot password</a>
                        <a routerLink="/auth/signup"class="forget-pass">Create Account</a>
                    </div>
                </div>
                <div class="">
                    <a href="#" class="social-button" id="facebook-connect"> <span>Connect with Facebook</span></a>
                    <a href="#" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
                </div>
            </form>
        </div>
    </div>
</div>
