<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <div class="container check_box_filtter">
                            <div class="filtter_title pt-4">
                                <h5>Filter</h5>
                                <h5> <i type="button" class="fa fa-repeat"></i> Reset</h5>
                            </div>
                            <div id="fillterOfCatigory">
                                <div class="catigory_filtter py-4">
                                    <h5>Category</h5>
                                </div>
                                <div class="form-check check_box_catigory">
                                    <label class="form-check-label" for="flexCheckAll">
                                        <input class="form-check-input d-none" name="catigory" type="checkbox"
                                            value="" id="flexCheckAll" checked>
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>             
                                        All
                                    </label>
                                </div>
                                <div class="form-check check_box_catigory" *ngFor="let category of categories; let i = index">
                                    <label  class="form-check-label" [for]="category._id">
                                        <input class="form-check-input d-none" name="category" type="checkbox"
                                            (change)="changeSelect($event)" [value]="category._id" [id]="category._id">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        {{category.title.en}}
                                    </label>
                                </div>
                                
                            </div>
                            <div id="fillterOfPrice">
                                <div class="price_filtter py-4">
                                    <h5>Price</h5>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexPriceAll">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexPriceAll" checked>
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        All
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_50_100EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_50_100EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        50 to 100 EGP
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_100_200EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_100_200EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        100 to 200 EGP
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_200_300EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_200_300EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        200 to 300 EGP
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_300_400EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_300_400EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        300 to 400 EGP
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
<!-- 
                    sidebar-color sidebar-size
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Large
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Medium
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Small
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Tiny
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div> -->
                    <!-- <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/images/latest-product/lp-1.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/images/latest-product/lp-2.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/images/latest-product/lp-3.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/images/latest-product/lp-1.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/images/latest-product/lp-2.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/images/latest-product/lp-3.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <!-- <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div>
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                    [style.background-image]="'url(assets/images/product/discount/pd-1.jpg)'">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div>
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                    [style.background-image]="'url(assets/images/product/discount/pd-1.jpg)'">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div>
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                    [style.background-image]="'url(assets/images/product/discount/pd-1.jpg)'">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div>
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                    [style.background-image]="'url(assets/images/product/discount/pd-1.jpg)'">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>  
                    </owl-carousel-o>
                </div> -->
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="sorted_by">
                                <div class="sort_by">
                                    <span>Sort by</span>
                                </div>
                                <div class="sorted_choice">
                                    <div class="select-box">
                                        <div class="select-box__current" tabindex="1">
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="0" value="1"
                                                    name="sort__by" checked="checked" />
                                                <p class="select-box__input-text">Popularity</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="1" value="2"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Newest Arrivals</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="2" value="3"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Price: Low to High</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="3" value="4"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Price: High to Low</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="4" value="5"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Product Rating</p>
                                            </div>
                                                <i class=" select-box__icon fa fa-angle-down"></i>
                                        </div>
                                        <ul class="select-box__list">
                                            <li class="">
                                                <label class="select-box__option" for="0"
                                                    aria-hidden="aria-hidden"> Popularity 
                                                    <i class="fa fa-check checkbox_mark"></i></label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="1"
                                                    aria-hidden="aria-hidden">Newest Arrivals
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="2"
                                                    aria-hidden="aria-hidden">Price: Low to High
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="3"
                                                    aria-hidden="aria-hidden">Price: High to Low
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="4"
                                                    aria-hidden="aria-hidden">Product Rating
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{productsCount}}</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2" (click)="setOneColumn('col-lg-4 col-md-6 col-sm-6')"></span>
                                <span class="icon_ul" (click)="setOneColumn('col-lg-12')"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div [ngClass]="displayClass" *ngFor="let data of products">
                        <app-product-card [productData]="data"></app-product-card>
                    </div>

                </div>

                <div id="product__pagination" class="pt-5">
                    <div class="pagination">
                        <a href="#"><i class="fa fa-long-arrow-left"></i></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">...</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->