<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <div class="container check_box_filtter">
                            <div class="filtter_title pt-4">
                                <h5>Filter</h5>
                                <h5> <i type="button" class="fa fa-repeat"></i> Reset</h5>
                            </div>
                            <div id="fillterOfCatigory">
                                <div class="catigory_filtter py-4">
                                    <h5>Category</h5>
                                </div>
                                <div class="form-check check_box_catigory">
                                    <label class="form-check-label" for="flexCheckAll">
                                        <input class="form-check-input d-none" name="catigory" type="checkbox" value=""
                                            id="flexCheckAll">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        All
                                    </label>
                                </div>
                                <div class="form-check check_box_catigory"
                                    *ngFor="let category of categories; let i = index">
                                    <label class="form-check-label" [for]="category._id">
                                        <input class="form-check-input d-none" name="category" type="checkbox"
                                            (change)="changeSelect($event)" [value]="category._id" [id]="category._id">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        {{category.title.en}}
                                    </label>
                                </div>

                            </div>
                            <div id="fillterOfPrice">
                                <div class="price_filtter py-4">
                                    <h5>Price</h5>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexPriceAll">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexPriceAll">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        All
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_50_100EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_50_100EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        50 to 100 EGP
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_100_200EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_100_200EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        100 to 200 EGP
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_200_300EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_200_300EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        200 to 300 EGP
                                    </label>
                                </div>
                                <div class="form-check check_box_price">
                                    <label class="form-check-label" for="flexCheck_300_400EGP">
                                        <input class="form-check-input d-none" mane="price" type="checkbox" value=""
                                            id="flexCheck_300_400EGP">
                                        <i class="fa fa-check checkbox_mark" type="checkbox"></i>
                                        300 to 400 EGP
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="sorted_by">
                                <div class="sort_by">
                                    <span>Sort by</span>
                                </div>
                                <div class="sorted_choice">
                                    <div class="select-box">
                                        <div class="select-box__current" tabindex="1">
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="0" value="1"
                                                    name="sort__by" checked="checked" />
                                                <p class="select-box__input-text">Popularity</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="1" value="2"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Newest Arrivals</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="2" value="3"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Price: Low to High</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="3" value="4"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Price: High to Low</p>
                                            </div>
                                            <div class="select-box__value">
                                                <input class="select-box__input" type="radio" id="4" value="5"
                                                    name="sort__by" />
                                                <p class="select-box__input-text">Product Rating</p>
                                            </div>
                                            <i class=" select-box__icon fa fa-angle-down"></i>
                                        </div>
                                        <ul class="select-box__list">
                                            <li class="">
                                                <label class="select-box__option" for="0" aria-hidden="aria-hidden">
                                                    Popularity
                                                    <i class="fa fa-check checkbox_mark"></i></label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="1"
                                                    aria-hidden="aria-hidden">Newest Arrivals
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="2"
                                                    aria-hidden="aria-hidden">Price: Low to High
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="3"
                                                    aria-hidden="aria-hidden">Price: High to Low
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="select-box__option" for="4"
                                                    aria-hidden="aria-hidden">Product Rating
                                                    <i class="fa fa-check checkbox_mark"></i>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{productsCount}}</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2" (click)="setOneColumn('col-lg-4 col-md-6 col-sm-6')"></span>
                                <span class="icon_ul" (click)="setOneColumn('col-lg-12')"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ng-container *ngIf="(products$ | async) as products">
                        <div [ngClass]="displayClass" *ngFor="let product of products.data">
                            <app-product-card [productData]="product"></app-product-card>
                        </div>
                        
                    
                    <app-pagination [totalRecords]="products.pagination.total_records" [recordsPerPage]="products.pagination.per_page"
                            (onPageChange)="displayActivePage($event)">
                    </app-pagination>
                </ng-container>
                </div>

               
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->