<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h3>Password Reset</h3>
            <p>
                Please enter the e-mail address associated with your account. We will send you a link to this e-mail address to reset your password.
            </p>
            <form>
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-lg" placeholder="Email" id="email">
                <button class="form-control form-control-lg site-btn">Reset Password</button>
            </form>
        </div>
    </div>
</div>