<!-- Checkout Section Begin -->

<section class="checkout spad">
    <div class="container">
        <div [ngSwitch]="index">
            <p-steps [model]="items" [(activeIndex)]="index" [readonly]="false"></p-steps>
            <div *ngSwitchCase="PageName.AddressPage">
                <div class="checkout__form">
                    <h4>Billing Details</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Fist Name<span>*</span></p>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Last Name<span>*</span></p>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <p>Country<span>*</span></p>
                                    <input type="text">
                                </div>
                                <div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input type="text" placeholder="Street Address" class="checkout__input__add">
                                    <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                                </div>
                                <div class="checkout__input">
                                    <p>Town/City<span>*</span></p>
                                    <input type="text">
                                </div>
                                <div class="checkout__input">
                                    <p>Country/State<span>*</span></p>
                                    <input type="text">
                                </div>
                                <div class="checkout__input">
                                    <p>Postcode / ZIP<span>*</span></p>
                                    <input type="text">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Phone<span>*</span></p>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Email<span>*</span></p>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <p>Order notes<span>*</span></p>
                                    <input type="text"
                                        placeholder="Notes about your order, e.g. special notes for delivery.">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngSwitchCase="PageName.PaymentPage">
                <h4>Payment Method</h4>
                <div class="col-lg-6 col-md-6 m-auto">
                     <!-- <ng-payment-card
                    [ccNumMissingTxt]="'Please provide card number'"
                    [cardExpiredTxt]="'Payment card has expired'">
                </ng-payment-card> -->
                <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="name" placeholder="Jane Doe">
                    </div>
                    <div class="form-group card-details">
                        <ngx-stripe-card
                            [options]="cardOptions"
                            [elementsOptions]="elementsOptions"
                        ></ngx-stripe-card>
                    </div>
                    
                    <button type="submit" class="btn btn-success">
                      CREATE TOKEN
                    </button>
                  </form>
                </div>
               
            </div>
            <div *ngSwitchCase="PageName.SummaryPage">
                <div class="col-lg-6 col-md-6 m-auto">
                    <div class="checkout__order">
                        <h4>Your Order</h4>
                        <div class="checkout__order__products">Products <span>Total</span></div>
                        <ul>
                            <li *ngFor="let product of products">{{product.title}} <span>${{product.price}}</span></li>
                        </ul>
                        <div class="checkout__order__subtotal">Subtotal <span>${{totalPrice}}</span></div>
                        <div class="checkout__order__total">Total <span>${{totalPrice}}</span></div>
                        
                        <button type="submit" class="site-btn">PLACE ORDER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->