<!-- Checkout Section Begin -->

<section class="checkout spad">
    <div class="container">
        <div [ngSwitch]="index">
            <p-steps [model]="items" [(activeIndex)]="index" [readonly]="true"></p-steps>
            <div *ngSwitchCase="PageName.AddressPage">
                <div class="checkout__form">
                    <h4>Your Address</h4>

                    <nz-radio-group [(ngModel)]="radioValue">
                        <label nz-radio [nzValue]="address?._id" *ngFor="let address of addresses">{{address.fullName}} {{address.district}} {{address.city}} {{address.country}} Phone number: {{address.mobileNumber}}</label>
                        <!-- <label nz-radio nzValue="M">
                          Online
                          <input type="text" nz-input *ngIf="radioValue === 'M'" />
                        </label> -->
                      </nz-radio-group>
                      <div>
                        <i nz-icon nzType="plus" nzTheme="outline"></i> <button (click)="showModal()" class="btn btn-default">Add a new Address</button>
                        <nz-modal [(nzVisible)]="isVisible" nzTitle="Enter a new shipping address" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                            <ng-container *nzModalContent>
                              <app-edit></app-edit>
                            </ng-container>
                        </nz-modal>
                      </div>
                      <div class="d-flex justify-content-end">
                        <button (click)="nextPage('PaymentPage')">Next</button>
                      </div>
                      
                </div>
            </div>
            <div *ngSwitchCase="PageName.PaymentPage">
                <h4>Payment Method</h4>
                <div class="col-lg-6 col-md-6 m-auto">
                     <!-- <ng-payment-card
                    [ccNumMissingTxt]="'Please provide card number'"
                    [cardExpiredTxt]="'Payment card has expired'">
                </ng-payment-card> -->
                <nz-radio-group [(ngModel)]="MethodValue">
                    <label nz-radio nzValue="cod"> Cash On Deliver</label>
                    <label nz-radio nzValue="online">
                      Online
                      <div *ngIf="MethodValue === 'online'">
                        <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name" placeholder="Jane Doe">
                            </div>
                            <div class="form-group card-details">
                                <ngx-stripe-card
                                    [options]="cardOptions"
                                    [elementsOptions]="elementsOptions"
                                ></ngx-stripe-card>
                            </div>
                            
                            <button type="submit" class="btn btn-success">
                              CREATE TOKEN
                            </button>
                          </form>
                      </div>
                    </label>
                  </nz-radio-group>
                
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="previousPage('AddressPage')">Previous</button> 
                    <button (click)="nextPage('SummaryPage')">Next</button>
                </div>
            </div>
            <div *ngSwitchCase="PageName.SummaryPage">
                <div class="col-lg-6 col-md-6 m-auto">
                    <div class="checkout__order">
                        <h4>Your Order</h4>
                        <div class="checkout__order__products">Products <span>Total</span></div>
                        <ul>
                            <li *ngFor="let product of products">{{product.title}} <span>${{product.price}}</span></li>
                        </ul>
                        <div class="checkout__order__subtotal">Subtotal <span>${{totalPrice}}</span></div>
                        <div class="checkout__order__total">Total <span>${{totalPrice}}</span></div>
                        
                        <button type="submit" class="site-btn">PLACE ORDER</button>
                    </div>
                </div>
                <div class="d-flex justify-content-start" >
                    <button (click)="previousPage('PaymentPage')">Previous</button> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->