
.about-us h2 {
    font-size: 24px;
    font-weight: 800;
    font-family: "Inter";
    color: #18191f;
    margin-bottom: 8px;
}

.about-us p{
    font-size: 14px;
    font-family: "Inter";
    color: #18191f;
    margin: 0;
    line-height: 17px !important;
    width: 65%;
}

